
Checks: [bugprone-*,performance-*,concurrency-*,clang-analyzer-*,cppcoreguidelines-*,llvm-*,readability-*,portability-*,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-owning-memory]

